librosa==0.7.0
numpy==1.17.1
opencv-contrib-python>=4.2.0.34
opencv-python==4.1.0.25

tqdm==4.45.0
numba==0.48

python inference.py  --checkpoint_path checkpoints/wav2lip_gan.pth --face D:\study\py\wav2lip\Wav2Lip-master\da
ta\video\10.jpg  --audio D:\study\py\wav2lip\Wav2Lip-master\data\audio\ama.mp3
